body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a1a1a; 
    background-image: url('quiz.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.quiz-container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    width: 450px;
    backdrop-filter: blur(10px);
    border: 3px solid #9b59b6;
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #00ffcc;
    margin-bottom: 20px;
}

.quiz-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 3px solid #9b59b6;
}

h2 {
    color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: #3498db;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
}

button:hover {
    background: #2980b9;
}

button.correct {
    background: #27ae60; 

button.wrong {
    background: #e74c3c;
}


.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.nav-buttons button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.nav-buttons button:hover {
    background: #777;
}

#prevBtn:disabled {
    background: #444;
    cursor: not-allowed;
}

.score {
    font-size: 22px;
    font-weight: bold;
    color: #f39c12;
    margin-top: 20px;
}

.score-breakdown {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.trophy {
    width: 100px;
    height: auto;
    margin-top: 20px;
}
